@use './tailwind/vars.scss' as *;
@use './tailwind/base.scss' as *;
@use './tailwind/components.scss' as *;
@use './tailwind/utilities.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
