@layer base {
  html,
  body {
    @apply w-full max-w-full min-h-screen;
    @apply overflow-x-hidden;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
