---
import '@/styles/app.scss'

export interface Props {
  pageId: string
}

const { pageId } = Astro.props
const isDev = process.env.NODE_ENV == 'development'
---

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='format-detection' content='telephone=no' />
    <meta name='generator' content={Astro.generator} />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap'
      rel='stylesheet'
    />

    <title>AppName</title>
  </head>
  <body>
    <slot />
  </body>
</html>
